<header class="site-header">

    <nav>
      <div class="nav-wrapper wrapper">
        <a href="{{ site.baseurl }}/" class="brand-logo">{{ site.title }}</a>
        <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          {% for my_page in site.pages %}
            {% if my_page.title %}
              {% if page.url == my_page.url %}
                <li><a href="{{ my_page.url | prepend: site.baseurl }}" class="active">{{ my_page.title }}</a></li>
              {% else %}
                <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
              {% endif %}
            {% endif %}
          {% endfor %}

        </ul>
        <ul class="side-nav" id="mobile-menu">
          {% for my_page in site.pages %}
            {% if my_page.title %}
            <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
            {% endif %}
          {% endfor %}
      </div>
    </nav>

</header>
